# Основные переменные
NODE_ENV=development
PORT=4000

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name

# JWT (если используешь аутентификацию)
JWT_SECRET=secret
JWT_EXPIRY=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Логирование
LOG_LEVEL=debug

# API
API_VERSION=v1

# Telegram Bot (получить у @BotFather)
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BOT_USERNAME=MyQuickResponseBot

# OpenRouter AI (получить на openrouter.ai)
OPENROUTER_API_KEY=sk-or-v1-your_key_here

# Robokassa (получить в личном кабинете Robokassa) # боевые данные
ROBOKASSA_MERCHANT_ID=your_merchant_id
ROBOKASSA_SECRET_KEY_1=your_test_secret_key_1
ROBOKASSA_SECRET_KEY_2=your_test_secret_key_2
# данные для тестов
ROBOKASSA_TEST_SECRET_KEY_1=your_test_secret_key_1
ROBOKASSA_TEST_SECRET_KEY_2=your_test_secret_key_2
ROBOKASSA_TEST_MODE=true
# URL для редиректа после успешной оплаты (на фронтенде)
ROBOKASSA_SUCCESS_URL=http://localhost:3000/success